.news-holder p {
    margin-bottom: 12px;
}

.news-holder {
    /*max-width: 500px;*/
    margin: 0 auto;
    font-size: 13px;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  color: #336699;
  text-decoration: none;
}

.news-headlines {
  list-style: none;
  position: relative;
}

  .news-headlines li {
    position: relative;
    z-index: 20;
  }

  .nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .nh-anim.selected{
    background-color: #ededed;
  }

  .news-headlines li:hover, a:hover {
      cursor: pointer;
      text-decoration: underline;
  }
  
  .news-headlines .highlight {
     width: 100%;
     background: #ededed;
     border-top: solid 1px #999;
     border-left: solid 1px #999;
     border-bottom: solid 1px #999;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
     display: none;
  }

  .news-headlines .highlight:before {
    display: none;
  }

.news-headlines {
   
   width: 100%;
}

.news-preview {
   position: relative;
   z-index: 5;
   min-height: 304px;
   position: relative;
}

  .news-preview img {
    display: block;
    border: solid 1px #999;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0px auto;
  } 

.news-content {
    position: relative;
    z-index: 10;
    display: none;
}

.top-content {
    display: block;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}